<ion-header no-shadow>
  <ion-navbar transparent>
    <ion-title>{{pet.profile.name | capitalize}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen padding class="vertical-alignment">
  <div class="backgroundImage content content-ios" [style.background-image]="'url(' + pet.profile.img + ')' | sanitizer:'style'">

  </div>

  <ion-card>
    <!-- <img [src]="pet.img" class="pet-image" /> -->
    <div class="img" [style.background-image]="'url(' + pet.profile.img + ')' | sanitizer:'style'"></div>
    <ion-card-content>
      <ion-card-title class="name">
        {{pet.profile.name | capitalize}}
      </ion-card-title>
      <p>
        {{pet.profile.description}}
      </p>
      <p>
        <strong>Age: </strong>{{pet.profile.age}} years old</p>
      <p>
        <strong>Sex: </strong>{{pet.profile.sex}}</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="pet.ownerId == user.uid" class="owner">
    <div *ngIf="wantedByUsers?.length > 0" class="wanted-by">
      <ion-card>
        <ion-card-header>These users are interested: </ion-card-header>
        <ion-card-content (click)="interestedUserInfo(user)" *ngFor="let user of wantedByUsers">
          {{user.profile.displayName}}
        </ion-card-content>
      </ion-card>
    </div>
    <!-- <button ion-button (click)="modify()" color="primary" block>Modify</button> -->
    <button ion-button (click)="deletePet()" color="danger" block>Remove from adoption</button>
  </div>
  <div *ngIf="pet.ownerId != user.uid" class="not-owner">
    <button ion-button *ngIf="!adopted" (click)="adoptPet(true)" color="primary" block>Request information!</button>
    <button ion-button *ngIf="adopted" (click)="adoptPet(false)" color="danger" block>Cancel my request!</button>
  </div>
</ion-content>
