page-pet-details {
  .scroll-content {
    display:flex !important;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }

  .img{
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .backgroundImage{
    position: absolute;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    z-index: -1;
  }
}
