<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{pet.profile.name | capitalize}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="vertical-alignment">
  <div class="backgroundImage" [style.background-image]="bgImg">

  </div>

  <ion-card>
    <!-- <img [src]="pet.img" class="pet-image" /> -->
    <div class="img" [style.background-image]="'url(' + pet.img + ')'"></div>
    <ion-card-content>
      <ion-card-title>
        {{pet.profile.name | capitalize}}
      </ion-card-title>
      <p>
        {{pet.profile.description}}
      </p>
      <p>
        <strong>Age: </strong>{{pet.profile.age}} years old</p>
      <p>
        <strong>Sex: </strong>{{pet.profile.sex}}</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="pet.ownerId == user.uid" class="owner">
    <div class="wanted-by">
      <ion-card>
        <ion-card-title>These users are interested: </ion-card-title>
        <ion-card-content *ngFor="let user of wantedByUsers">
          {{user.name}}
        </ion-card-content>
      </ion-card>
    </div>
    <button ion-button (click)="deletePet()" color="danger" block>Remove from adoption</button>
  </div>
  <div *ngIf="pet.ownerId != user.uid" class="not-owner">
    <button ion-button *ngIf="pet.ownerId != user.uid && !adopted" (click)="adoptPet(true)" color="primary" block>Adopt me!</button>
    <button ion-button *ngIf="pet.ownerId != user.uid && adopted" (click)="adoptPet(false)" color="primary" block>I don't want to adopt this pet!</button>
  </div>
</ion-content>
