<!--
  Generated template for the NewForAdoptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <ion-title>Add for adoption</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <div class="image-div">
      <!-- <img *ngIf="img == defaultImage" class="img-background" [src]="img"/> -->
      <div class="img-background" [style.background-image]="img"></div>
      <div *ngIf="showButtons" class="buttons">
        <button ion-button clear (click)="takePhoto()">
          <ion-icon ios="ios-camera" md="md-camera" class="camera-button"></ion-icon>
        </button>
        <button ion-button clear (click)="selectImage()">
          <ion-icon ios="ios-add" md="md-add" class="camera-button"></ion-icon>
        </button>
      </div>
    </div>
    <ion-card-content>
      <ion-card-title>
        <ion-item>
          <ion-input [(ngModel)]="name" type="text" placeholder="Name"></ion-input>
        </ion-item>
      </ion-card-title>
      <ion-item>
        <ion-input [(ngModel)]="description" type="text" placeholder="Description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="age" type="number" max=20 placeholder="Age"></ion-input>
      </ion-item>
      <ion-item>
        <!-- <ion-input [(ngModel)]="sex" type="text" placeholder="Sex"></ion-input> -->
        <ion-label>Sex</ion-label>
        <ion-select [(ngModel)]="sex">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
          <ion-option value="idk">I don't know</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <!-- <ion-input [(ngModel)]="category" type="text" placeholder="Type"></ion-input> -->
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="category">
          <ion-option value="dog">Dog</ion-option>
          <ion-option value="cat">Cat</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <button ion-button block color="primary" [disabled]="!completedForm()" (click)="finish()">Send</button>

</ion-content>
